*.d
*.o
lib*.a
moc_*.cpp
*_moc.cc
/bin/WatchRR.bin
/bin/Weather.bin
/bin/hqc.bin
/obj
/WatchRR/WatchRR
/Weather/Weather
/authentication/Makefile
/debian
/authentication/libauthentication.prl
/.cproject
/.project
/.settings
/build
/obj-x86_64-linux-gnu
/hqc.log.20*
/.pc
