Source: kvhqc
Section: science
Priority: extra
Maintainer: Alexander Bürger <alexander.buerger@met.no>
Build-Depends: debhelper (>= 9), quilt, cmake,
 libqt4-dev, libqt4-dev-bin | qt4-qmake,
 libgfortran3, libgtest-dev | google-mock, python (>= 2.7.3),
 libboost-dev, libboost-date-time-dev, libboost-thread-dev,
 libsqlite3-dev, libldap2-dev,
@metno_config_if .*xenial.*
 libkvcpp-dev (= 2.7.9-2),
 libboost-system-dev,
@metno_config_elsif .*precise.*
 libkvcpp-dev (= 2.7.8-1),
 libboost-system-dev,
 libfimex-dev (>= 0.61.1), libpqxx-dev | libpqxx3-dev, libpng-dev | libpng12-dev,
 libomniorb4-dev, libxml++2.6-dev, libcurl4-gnutls-dev | libcurl-dev, libperl-dev,
@metno_config_endif
 libboost-system-dev,
 metlibs-tsdata-dev (>= 5.2.0),
 metlibs-pets2-dev (>= 5.1.0),
 metlibs-pumet-dev (>= 5.1.0),
 metlibs-qutilities-dev (>= 5.1.2),
 metlibs-putools-dev (>= 5.0.0),
 metlibs-milogger-dev (>= 5.0.0),
 metlibs-coserver-dev (>= 2.0.4)
Standards-Version: 3.8.4
Vcs-Git: https://github.com/metno/kvhqc

Package: kvhqc-@METNO_VERSION@
Architecture: any
Depends: coserver4, libqt4-sql-psql, libqt4-sql-sqlite,
 kvhqcconfig-@METNO_VERSION@,
 ${shlibs:Depends}, ${misc:Depends}
Recommends: metno-qt4-translations (>= 0.2.0),
 metlibs-translations
Provides: kvhqc
Description: manual quality control for kvalobs
 kvhqc is a the manual quality assurance interface for kvalobs

Package: kvhqc-@METNO_VERSION@-dbg
Architecture: any
Section: debug
Priority: extra
Depends: kvhqc-@METNO_VERSION@ (= ${binary:Version}), ${misc:Depends}
Description: debugging symbols for kvhqc-@METNO_VERSION@
 This package contains the debugging symbols for kvhqc-@METNO_VERSION@.
