Source: kvhqc
Section: science
Priority: extra
Maintainer: Knut Johansen <knut.johansen@met.no>
Build-Depends: debhelper (>= 7.0.50), quilt, g++,
 metno-devscripts (>= 0.5.7),
 libqt4-dev, libgfortran3, libgtest-dev, liblog4cpp5-dev, python (>= 2.7.3-0),
 libboost-dev, libboost-date-time-dev, libboost-signals-dev, libboost-thread-dev,
 libkvcpp-dev (>= 2.7.1-2),
 metlibs-dev (>= 4.11.0-1)
Standards-Version: 3.8.4
Vcs-Svn: https://svn.met.no/kvoss/kvhqc/trunk
Vcs-Browser: https://svn.met.no/viewvc/kvoss/kvhqc/trunk

Package: kvhqc-@METNO_VERSION@
Architecture: any
Depends: coserver4, libqt4-sql-psql, libqt4-sql-sqlite,
@metno_config_if ^lucid$
@metno_config_else
 libkvcpp4 (>= 2.7.1-2),
@metno_config_endif
 ${shlibs:Depends}, ${misc:Depends}
Recommends: diana, dianaconfig, catchcrash,
 metno-qt4-translations (>= 0.2.0),
 metlibs-translations
Provides: kvhqc
Description: manual quality control for kvalobs
 kvhqc is a the manual quality assurance interface for kvalobs

Package: kvhqc-@METNO_VERSION@-dbg
Architecture: any
Section: debug
Priority: extra
Depends: kvhqc-@METNO_VERSION@ (= ${binary:Version}), ${misc:Depends}
Description: debugging symbols for kvhqc-@METNO_VERSION@
 This package contains the debugging symbols for kvhqc-@METNO_VERSION@.
