#!/usr/bin/make -f
# -*- makefile -*-

METNO_CONFIG = @METNO_CONFIG@
METNO_SUFFIX = @METNO_SUFFIX@

include /usr/share/metno-devscripts/metno_rules.mk

@metno_config_if ^lucid$
DH_COMMAND = dh --with quilt
@metno_config_else
DH_COMMAND = dh --with quilt --with python2
@metno_config_endif

do-configure:
	dh_auto_configure

override_dh_strip:
	dh_strip --dbg-package=kvhqc-@METNO_VERSION@-dbg

override_dh_auto_install:
	dh_auto_install --destdir=debian/kvhqc-@METNO_VERSION@
	rm -vf debian/kvhqc-@METNO_VERSION@/usr/bin/*offline*
