#!/usr/bin/make -f
# -*- makefile -*-

METNO_CONFIG = @METNO_CONFIG@
METNO_SUFFIX = @METNO_SUFFIX@

DH_COMMAND = dh --with quilt --with python2 --parallel

override_dh_strip:
	dh_strip --dbg-package=kvhqc-@METNO_VERSION@-dbg

override_dh_auto_install:
	dh_auto_install --destdir=debian/kvhqc-@METNO_VERSION@
	rm -vf debian/kvhqc-@METNO_VERSION@/usr/bin/*offline*
