#!/usr/bin/make -f
# -*- makefile -*-

METNO_CONFIG = @METNO_CONFIG@
METNO_SUFFIX = @METNO_SUFFIX@

include /usr/share/metno-devscripts/metno_rules.mk

do-configure:
	dh_auto_configure

# .PHONY: override_dh_strip
# override_dh_strip:
#         dh_strip --dbg-package=kvhqc-@METNO_VERSION@-dbg
